{{template "base" .}}
 
{{define "title"}}Форма добавления заметок{{end}}
 
{{define "main"}}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Page</title>
<link rel="stylesheet" href="styles.css">
</head>
<h5>  Добавьте свою заметку</h5>
<body>
<div class="form-container">
  <h1>Заголовок</h1>
  <input type="text" placeholder="Enter title here">
  <h2>Заметка</h2>
  <textarea placeholder="Enter content here"></textarea>
</div>
</body>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Button Redirect Example</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<button>Сохранить</button>


</body>
</html>
{{end}}

