{{template "base" .}}
 
{{define "title"}}Форма добавления заметок{{end}}
 
{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Простая HTML страница</title>
</head>
<body>

    <h1>Добавьте новую заметку</h1>

    <label for="input1">Заголовок:</label>
    <input type="text" id="input1" placeholder="Введите заголовок заметки">

    <br>

    <label for="input2">Заметка:</label>
    <input type="text" id="input2" placeholder="Введите текст">

    <br>

    <label>Выберите срок жизни заметки:</label>
    <label for="option1">
        <input type="radio" id="option1" name="options" value="option1"> 7 дней
    </label>
    <label for="option2">
        <input type="radio" id="option2" name="options" value="option2"> 30 дней
    </label>
    <label for="option3">
        <input type="radio" id="option3" name="options" value="option3"> 365 дней
    </label>

    <br>

    <button id="submitBtn">Сохранить</button>

    <script>
        document.getElementById('submitBtn').addEventListener('click', function() {
            // Получаем значения полей ввода и радиокнопок
            var input1Value = document.getElementById('input1').value;
            var input2Value = document.getElementById('input2').value;
            var selectedOption = document.querySelector('input[name="options"]:checked').value;

            // Формируем объект с данными для отправки
            var data = {
                input1: input1Value,
                input2: input2Value,
            };

            // Отправляем POST запрос на бэкенд (здесь предполагается, что у вас есть бэкенд, который принимает POST запросы)
            fetch('http://localhost:8080/link/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Успешно отправлено:', data);
            })
            .catch((error) => {
                console.error('Ошибка:', error);
            });
        });
    </script>

</body>
</html>
{{end}}

